.loader-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    margin: auto;
    background: rgb(255, 255, 255, 1);
}
.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 #3d5af1;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}
@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinner-border{
    margin-top: 20rem;
    width: 3rem;
    height: 3rem;
}
